.navbar-bg-dark {
    background-color: #ff7d7d;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-bg-light {
    background-color: #fe9393;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 6%;
    padding-right: 5%;
}

.search-box {
    height: 3rem;
    border: none;
    padding-left: 3rem;
    padding-right: 3.5rem;
}

.submit-search {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    right: 0;
    margin-right: 30px;
}

.icons-head {
    font-size: 1.5rem; 
    color: #ffffff;
}

.head-links {
    text-decoration:underline; 
    margin-right:2rem;
    color: #ffffff;
}

.head-links:hover {
    text-decoration:none; 
    color: #fd4d4d;
    cursor: pointer;
}

.footer-bg-light {
    background-color: #fe9393
}

.footer-bg-light hr {
    background-color: #ffffff;
    margin-left: 6rem;
    margin-right: 6rem;
}

.footer-bg-dark {
    background-color: #ff7d7d
}

.footer-text h5{
    color: #ffffff;
    font-size: 18px;
}

.footer-text a,
.footer-text li,
.footer-text span {
    color: #ffffff;
    font-size: 12px;
}

.footer-text-dark {
    color: #ffffff;
    font-size: 15px;
}

.footer-dark {
    margin-left: 15px;
}

.center {
    margin: auto;
}

.vertical-line {
    border-left: 2px solid;
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0.3;
}

.horizontal-line {
    color: #ffffff;
    opacity: 0.3;
}

/* ========== CONTENT ==========*/
/* --- PRODUCT --- */

.content-bg {
    background-color: #efefef;
}

.content-marg {
    margin-left: 6%;
}

.links {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.links button {
    border-radius: 20px;
    padding: 0.105rem 0.75rem;
    color: #6f6f6f;
    border-color: #6f6f6f;
}

.links a {
    color: #007bff !important; 
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline !important;
}

.links span {
    margin-left: 10px;
    margin-right: 10px;
    color: #007bff;
}

.product .col-sm-2 {
    margin-right: 5%;
    min-width: 24%;
}

.card {
    border: none;
    border-radius: 0;
}

.product-image {
    width: 50%;
}

.product-image img {
    margin-top: -59%;
    width: 100%;
}

.product-miniatures {
    width: 10%;
}

.product-miniatures img {
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
}

.product-card div {
    display: inline-block;
}

.delivery-normally {
    background-color: #00a650;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 3px 10px;
    border-radius: 6px;
    margin-bottom: 5%;
}

.product-obs a {
    text-decoration:underline !important; 
    font-size: 12px;
    cursor: pointer;
}

.stars {
    align-items: center;
    color: gold;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

.parentheses {
    font-size: 10px;
    vertical-align: middle;
}

.product-text {
    margin-top: 1rem;
}

.product-text span {
    font-size: 60%;
}

.product-text-color {
    color: #747474;
}

.cep-calc {
    margin-top: 1.5rem;
}

.cep-calc label {
    margin-bottom: 0;   
}

.cep-calc input {
    width: 110%;
}

.share {
    float: right;
}

.share i {
    margin-left:1rem;
    cursor: pointer;
}

.expire {
    background-color: #fe9393;
    color: #ffffff;
    padding: 10px;
}

.clock-icon {
    font-size: 200%;
}

.offer-text {
    padding-left: 15px;
}

.prices {
    margin-top: 10px;
    font-size: 13px;
}

.prices .old-price {
    text-decoration: line-through;
}

.select-size {
    width: 50%; 
    border-color: #000000; 
    margin-top: 2px;
    margin-bottom: 5px;
}

.buttons-buy-add .btn-buy {
    background-color: #fe9393;
    border-color: #fe9393;
    color: #ffffff;
    padding: 4% 19%;
    font-size: 0.8rem;
    margin-top:0.3rem;
}

.buttons-buy-add .btn-add {
    background-color: #ffffff;
    border-color: #fe9393;
    color: #fe9393;
    font-size: 0.8rem;
    padding: 4% 13%;
    margin-top: 0.5rem;
}

.guaranteed-purchase {
    font-size: 0.9rem;
    color: #747474;
}

.creditcard-images img {
    width: 32px;
}

/* --- PRODUCT DESC --- */
.desc-product .col {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
}

.desc-product .card-body {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    color: #747474;
}

.tittle {
    margin-bottom: 2rem;
    font-size: 22px;
}

.call-center {
    background-color: #eeeeee;
    font-size: 20px;
    padding: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.tb-specification {
    width: 100%;
    font-size: 14px;
    margin-bottom: 4rem;
}

.tb-specification td {
    color: #8c8a8a;
    padding: 5px 0 5px 15px;
}

.tb-specification td:nth-child(1) {
    background-color: #eeeeee;
    width: 15rem;
}

.related-products {
    margin-left: -5rem;
    margin-right: -5rem;
}

.related-products .col-sm-2 {
    margin-left: 2%;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.opinions {
    margin-top: 4rem;
}

.opinions .col {
    margin-bottom: 2rem;
}

.opinions h5 {
    color: #000000;
    font-weight: 500;
    margin-bottom: 3rem;
}

.client-circle {
    background-color: #000000;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client-review span {
    font-size: 12px;
    margin-left: 15px;
}

.client-review li {
    margin-top: 1rem;
}

.client-review ul {
    margin-bottom: 1.5rem;
}

.client-review a {
    font-size: 13px;
    cursor: pointer;
    color: #000000 !important;
}

.client-opinion {
    color: #000000;
    margin-top: -3rem;
}

.percentage-circle {
    background-color: #ffffff;
    color: #000000;
    width: 7rem;
    height: 5.5rem;
    border-style: solid;
    border-color: #ffd700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.suggestions {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.suggestions .col {
    max-width: 18%;
}

.suggestions .card {
    cursor: pointer;
    border: none;
}

.suggestion-product {
    width: 100%;
}

/*--- MEDIA QUERY ---*/
@media screen and (min-width: 500px) {
    /*NAV BAR*/
    .navbar-bg-dark,
    .navbar-bg-light .col-sm-3 {
        display: none;
    }

    .cart-button {
        background-color: #FFFFFF;
        color: #747474;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        margin-left: 2px;
    }

    .search-box {
        border-radius: 30px;
    }

    .navbar-links {
        margin-left: 0;
        text-align: center;
        font-size: 12px;
    }

    /*PRODUCT*/
    .links,
    .product-miniatures,
    .product-image,
    .delivery-normally,
    .product-obs .product-text,
    .product-obs .more-info,
    .cep-calc,
    .share,
    .expire,
    .buttons-buy-add,
    .guaranteed-purchase {
        display: none !important;
    }

    .product .col-sm-8 {
        margin: 0;
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }

    .product .product-card,
    .product .price-card,
    .desc-product .desc-product-card,
    .cep-calc-mobile .card {
        padding-left: 5%;
        padding-right: 5%;
    }

    .product-obs {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        display: inline-block;
    }

    .product-obs h5 {
        font-size: 30px;
    }

    .evaluate {
        float: none;
    }

    .product .col-sm-2 {
        margin: 0;
        flex: 100%;
        max-width: 100%;
        padding: 0;
    }

    .prices .new-price {
        font-size: 40px;
    }

    .select-size {
        width: 10rem;
    }

    .select-quantity {
        border: none; 
        width: 5rem; 
        font-size: 0.7rem;
    }

    /*CEP*/
    .cep-calc-mobile .col-sm-8 {
        width: 80%;
    }

    .cep-calc-mobile .card-body {
        padding:2.50rem;
    }
    
    .cep-mobile {
        border-radius: 0;
    }
    
    .btn-cep-mobile {
        background-color: #fe9393;
        color: #FFFFFF;
        border-radius: 0;
        padding: 11px 15px;
        margin-top: -10px;
        cursor: pointer;
    }

    .btn-cep-mobile:hover{
        background-color: #FFFFFF;
        color: #fe9393;
        border-color: #fe9393;
    }


    /*PRODUCT DESCRIPTION*/
    .desc-product .col {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .desc-product-card {
        margin-bottom: 1rem;
        padding-bottom: 2rem;
    }

    .desc-product-card .card-body {
        margin-left: 0;
        margin-right: 0;
    }

    .call-center {
        display: none;
    }


    /*PRODUCT DETAILS*/
    .product-details-card .card-body {
        margin-left: 0;
        margin-right: 0;
    }

    .related-products-card, 
    .suggestions,
    .suggest-cards {
        display: none !important;
    }

    .more-info {
        display: flex;
        color: #b4b4b4;
        margin-left: 30px;
        margin-bottom: 40px;
        font-size:20px;
        cursor: pointer;
    }

    .more-info:hover {
        color: #b4b4b4;
    }


    /*FOOTER*/
    .footer-bg-dark,
    .footer-bg-light {
        display: none;
    }

    /*CARD PRODUCT BUTTONS*/
    .product-buttons {
        display: flex;
    }

    .product-buttons .col {
        padding-right: 0;
        padding-left: 0;
        box-shadow: 0 0 1em #dbdbdb;
    }

    .product-buttons .card-body {
        margin-left: auto;
        margin-right: auto;
    }

    .buttons-buy-add-mobile .btn-buy {
        background-color: #fe9393;
        color: #ffffff;
        margin-right: 10px;
    }

    .buttons-buy-add-mobile .btn-add {
        background-color: #ffffff;
        color: #fe9393;
        border-color: #fe9393;
    }

}

@media screen and (min-width: 1000px) {  
    /*NAV BAR*/  
    .navbar-bg-dark,
    .navbar-bg-light .col-sm-3,
    .guaranteed-purchase {
        display: flex !important;
    }

    .navbar-mobile { 
        display: none;
    }

    .search-box {
        border-radius: 10px;
    }

    .navbar-links {
        margin-left: 8%;
        text-align: unset;
    }

    .navbar-links .first-link {
        margin-left: -4%;
    }
    
    /*PRODUCT*/
    .links,
    .expire {
        display: flex !important;
    }

    .product .col-sm-8 {
        margin-left: 5%;
        margin-right: -1%;
        flex: 66.6666666667%;
        max-width: 66.6666666667%;
        padding: 0 15px 0 15px;
    }

    .product .product-card,
    .product .price-card,
    .desc-product .desc-product-card {
        padding-left: 0;
        padding-right: 0;
    }

    .product-miniatures,
    .product-image,
    .delivery-normally,
    .product-obs .product-text,
    .product-obs .more-info,
    .cep-calc,
    .share {
        display: inline-block !important;
    }

    .product-obs {
        margin-left: 3%;
        margin-bottom: 16%;
        width: 34%;
    }

    .product-obs h5 {
        font-size: 20px;
    }

    .evaluate {
        float: right;
    }

    .product .col-sm-2 {
        margin-right: 5%;
        flex: 16.6666666667%;
        max-width: 16.6666666667%;
        min-width: 24%;
        padding: 0 15px 0 15px;
    }

    .clock-icon {
        font-size: 130%;
    }

    .offer-text {
        font-size: 70%;
    }

    .offer-box {
        margin-top: -7%;
    }

    .prices .new-price {
        font-size: 30px;
    }

    .select-size {
        width: 50%;
    }

    .buttons-buy-add {
        display: block !important;
    }
    
    .buttons-buy-add .btn-buy {
        padding: 4% 18%;
        margin-left: 3%;
    }

    .buttons-buy-add .btn-add {
        padding: 4% 13%;
        margin-left: 3%;
    }

    .select-quantity {
        width: 32%; 
    }

    /*CEP*/
    .cep-calc-mobile {
        display: none;
    }

    /*PRODUCT DESCRIPTION*/
    .desc-product .col {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .desc-product-card { 
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .desc-product-card .card-body {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .call-center {
        display: block;
    }

    /*PRODUCT DETAILS*/
    .product-details-card .card-body {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .related-products-card, 
    .suggestions,
    .suggest-cards {
        display: flex !important;
    }

    .more-info {
        display: none;
    }

    /*FOOTER*/
    .footer-bg-dark,
    .footer-bg-light {
        display: block;
    }

    /*CARD PRODUCT BUTTONS*/
    .product-buttons {
        display: none;
    }
}

@media screen and (min-width: 1250px) {
    /*NAVBAR*/
    .navbar-links {
        font-size: 15px;
    }
    
    /*PRODUCT*/
    .product-obs {
        margin-bottom: 3%;
    }

    .buttons-buy-add .btn-buy {
        padding: 4% 28%;
        margin-left: 3%;
    }

    .buttons-buy-add .btn-add {
        padding: 4% 24%;
        margin-left: 3%;
    }

    .clock-icon {
        font-size: 200%;
    }

    .offer-text {
        font-size: 100%;
    }

    .offer-box {
        margin-top: 0;
    }
}

