.navbar-bg-dark {
    background-color: #ff7d7d;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-bg-light {
    background-color: #fe9393;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 6%;
    padding-right: 5%;
}

.search-box {
    height: 3rem;
    border: none;
    padding-left: 3rem;
    padding-right: 3.5rem;
}

.submit-search {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    right: 0;
    margin-right: 30px;
}

.icons-head {
    font-size: 1.5rem; 
    color: #ffffff;
}

.head-links {
    text-decoration:underline; 
    margin-right:2rem;
    color: #ffffff;
}

.head-links:hover {
    text-decoration:none; 
    color: #fd4d4d;
    cursor: pointer;
}

.footer-bg-light {
    background-color: #fe9393
}

.footer-bg-light hr {
    background-color: #ffffff;
    margin-left: 6rem;
    margin-right: 6rem;
}

.footer-bg-dark {
    background-color: #ff7d7d
}

.footer-text h5{
    color: #ffffff;
    font-size: 18px;
}

.footer-text a,
.footer-text li,
.footer-text span {
    color: #ffffff;
    font-size: 12px;
}

.footer-text-dark {
    color: #ffffff;
    font-size: 15px;
}

.footer-dark {
    margin-left: 15px;
}

.center {
    margin: auto;
}

.vertical-line {
    border-left: 2px solid;
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0.3;
}

.horizontal-line {
    color: #ffffff;
    opacity: 0.3;
}

/* ========== CONTENT ==========*/
/* --- PRODUCT --- */

.content-bg {
    background-color: #efefef;
}

.content-marg {
    margin-left: 6%;
}

.links {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.links button {
    border-radius: 20px;
    padding: 0.105rem 0.75rem;
    color: #6f6f6f;
    border-color: #6f6f6f;
}

.links a {
    color: #007bff !important; 
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline !important;
}

.links span {
    margin-left: 10px;
    margin-right: 10px;
    color: #007bff;
}

.product .col-sm-8 {
    margin-left: 4rem;
    margin-right: -1rem;
}

.product .col-sm-2 {
    margin-right: 4rem;
    min-width: 20rem;
}

.product-image img {
    width: 28rem;
    height: 25.6rem;
    margin-top:-15.5rem;
}

.product-miniatures img {
    width: 5rem;
    height:5rem;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
}

.product-card div {
    display: inline-block;
}

.delivery-normally {
    background-color: #00a650;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 3px 10px;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.product-obs {
    margin-left: 1.5rem;
    max-width: 16.6rem;
    display: inline-block;
}

.product-obs a {
    text-decoration:underline !important; 
    font-size: 12px;
    cursor: pointer;
}

.stars {
    align-items: center;
    color: gold;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

.parentheses {
    font-size: 10px;
    vertical-align: middle;
}

.product-text {
    margin-top: 1rem;
}

.product-text span {
    font-size: 0.8rem;
}

.product-text-color {
    color: #747474;
}

.cep-calc {
    margin-top: 1.5rem;
}

.cep-calc label {
    margin-bottom: 0;   
}

.cep-calc input {
    width: 130%;
}

.share {
    float: right;
}

.share i {
    margin-left:1rem;
    cursor: pointer;
}

.expire {
    background-color: #fe9393;
    color: #ffffff;
    padding: 10px;
}

.prices {
    margin-top: 10px;
    font-size: 13px;
}

.prices .old-price {
    text-decoration: line-through;
}

.prices .new-price {
    font-size: 30px;
}

.select-size {
    width: 50%; 
    border-color: #000000; 
    margin-top: 2px;
    margin-bottom: 5px;
}

.buttons-buy-add .btn-buy {
    background-color: #fe9393;
    border-color: #fe9393;
    color: #ffffff;
    padding: 5px 77px;
    font-size: 0.8rem;
    margin-top:0.3rem;
}

.buttons-buy-add .btn-add {
    background-color: #ffffff;
    border-color: #fe9393;
    color: #fe9393;
    font-size: 0.8rem;
    padding: 5px 68px;
    margin-top: 0.5rem;
}

.guaranteed-purchase {
    font-size: 0.9rem;
    color: #747474;
}

.creditcard-images img {
    width: 32px;
}

/* --- PRODUCT DESC --- */
.desc-product .col {
    margin-left: 4rem;
    margin-right: 5.1rem;
    margin-top: 2rem;
}

.desc-product .card-body {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    color: #747474;
}

.tittle {
    margin-bottom: 2rem;
    font-size: 22px;
}

.call-center {
    background-color: #eeeeee;
    font-size: 20px;
    padding: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.tb-specification {
    width: 100%;
    font-size: 14px;
    margin-bottom: 4rem;
}

.tb-specification td {
    color: #8c8a8a;
    padding: 5px 0 5px 15px;
}

.tb-specification td:nth-child(1) {
    background-color: #eeeeee;
    width: 19rem;
}

.related-products {
    margin-left: -5rem;
    margin-right: -5rem;
}

.related-products .col-sm-2 {
    margin-left: 2rem;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
